body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

.transactions li {
    list-style: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    
    border-right: 5px solid; 
}

.transactions li.plus {
    border-right-color: #2ecc71; /* Verde */
}

.transactions li.minus {
    border-right-color: #e74c3c; /* Vermelho */
}

.error-message {
    color: #e74c3c;
    font-size: 0.8em;
    margin-top: 5px;
    display: block;
    min-height: 1.2em;
}